[data-theme='emerald'] {
	background-color: #16151d;
	--gradient: rgba(16, 185, 129, 0.2);
	--50: rgba(236, 253, 245);
	--50-0: rgba(236, 253, 245, 0);
	--50-10: rgba(236, 253, 245, 0.1);
	--50-20: rgba(236, 253, 245, 0.2);
	--50-30: rgba(236, 253, 245, 0.3);
	--50-40: rgba(236, 253, 245, 0.4);
	--50-50: rgba(236, 253, 245, 0.5);
	--50-60: rgba(236, 253, 245, 0.6);
	--50-70: rgba(236, 253, 245, 0.7);
	--50-80: rgba(236, 253, 245, 0.8);
	--50-90: rgba(236, 253, 245, 0.9);
	--100: rgba(209, 250, 229);
	--100-0: rgba(209, 250, 229, 0);
	--100-10: rgba(209, 250, 229, 0.1);
	--100-20: rgba(209, 250, 229, 0.2);
	--100-30: rgba(209, 250, 229, 0.3);
	--100-40: rgba(209, 250, 229, 0.4);
	--100-50: rgba(209, 250, 229, 0.5);
	--100-60: rgba(209, 250, 229, 0.6);
	--100-70: rgba(209, 250, 229, 0.7);
	--100-80: rgba(209, 250, 229, 0.8);
	--100-90: rgba(209, 250, 229, 0.9);
	--200: rgba(167, 243, 208);
	--200-0: rgba(167, 243, 208, 0);
	--200-10: rgba(167, 243, 208, 0.1);
	--200-20: rgba(167, 243, 208, 0.2);
	--200-30: rgba(167, 243, 208, 0.3);
	--200-40: rgba(167, 243, 208, 0.4);
	--200-50: rgba(167, 243, 208, 0.5);
	--200-60: rgba(167, 243, 208, 0.6);
	--200-70: rgba(167, 243, 208, 0.7);
	--200-80: rgba(167, 243, 208, 0.8);
	--200-90: rgba(167, 243, 208, 0.9);
	--300: rgba(110, 231, 183);
	--300-0: rgba(110, 231, 183, 0);
	--300-10: rgba(110, 231, 183, 0.1);
	--300-20: rgba(110, 231, 183, 0.2);
	--300-30: rgba(110, 231, 183, 0.3);
	--300-40: rgba(110, 231, 183, 0.4);
	--300-50: rgba(110, 231, 183, 0.5);
	--300-60: rgba(110, 231, 183, 0.6);
	--300-70: rgba(110, 231, 183, 0.7);
	--300-80: rgba(110, 231, 183, 0.8);
	--300-90: rgba(110, 231, 183, 0.9);
	--400: rgba(52, 211, 153);
	--400-0: rgba(52, 211, 153, 0);
	--400-10: rgba(52, 211, 153, 0.1);
	--400-20: rgba(52, 211, 153, 0.2);
	--400-30: rgba(52, 211, 153, 0.3);
	--400-40: rgba(52, 211, 153, 0.4);
	--400-50: rgba(52, 211, 153, 0.5);
	--400-60: rgba(52, 211, 153, 0.6);
	--400-70: rgba(52, 211, 153, 0.7);
	--400-80: rgba(52, 211, 153, 0.8);
	--400-90: rgba(52, 211, 153, 0.9);
	--500: rgba(16, 185, 129);
	--500-0: rgba(16, 185, 129, 0);
	--500-10: rgba(16, 185, 129, 0.1);
	--500-20: rgba(16, 185, 129, 0.2);
	--500-30: rgba(16, 185, 129, 0.3);
	--500-40: rgba(16, 185, 129, 0.4);
	--500-50: rgba(16, 185, 129, 0.5);
	--500-60: rgba(16, 185, 129, 0.6);
	--500-70: rgba(16, 185, 129, 0.7);
	--500-80: rgba(16, 185, 129, 0.8);
	--500-90: rgba(16, 185, 129, 0.9);
	--600: rgba(5, 150, 105);
	--600-0: rgba(5, 150, 105, 0);
	--600-10: rgba(5, 150, 105, 0.1);
	--600-20: rgba(5, 150, 105, 0.2);
	--600-30: rgba(5, 150, 105, 0.3);
	--600-40: rgba(5, 150, 105, 0.4);
	--600-50: rgba(5, 150, 105, 0.5);
	--600-60: rgba(5, 150, 105, 0.6);
	--600-70: rgba(5, 150, 105, 0.7);
	--600-80: rgba(5, 150, 105, 0.8);
	--600-90: rgba(5, 150, 105, 0.9);
	--700: rgba(4, 120, 87);
	--700-0: rgba(4, 120, 87, 0);
	--700-10: rgba(4, 120, 87, 0.1);
	--700-20: rgba(4, 120, 87, 0.2);
	--700-30: rgba(4, 120, 87, 0.3);
	--700-40: rgba(4, 120, 87, 0.4);
	--700-50: rgba(4, 120, 87, 0.5);
	--700-60: rgba(4, 120, 87, 0.6);
	--700-70: rgba(4, 120, 87, 0.7);
	--700-80: rgba(4, 120, 87, 0.8);
	--700-90: rgba(4, 120, 87, 0.9);
	--800: rgba(6, 95, 70);
	--800-0: rgba(6, 95, 70, 0);
	--800-10: rgba(6, 95, 70, 0.1);
	--800-20: rgba(6, 95, 70, 0.2);
	--800-30: rgba(6, 95, 70, 0.3);
	--800-40: rgba(6, 95, 70, 0.4);
	--800-50: rgba(6, 95, 70, 0.5);
	--800-60: rgba(6, 95, 70, 0.6);
	--800-70: rgba(6, 95, 70, 0.7);
	--800-80: rgba(6, 95, 70, 0.8);
	--800-90: rgba(6, 95, 70, 0.9);
	--900: rgba(6, 78, 59);
	--900-0: rgba(6, 78, 59, 0);
	--900-10: rgba(6, 78, 59, 0.1);
	--900-20: rgba(6, 78, 59, 0.2);
	--900-30: rgba(6, 78, 59, 0.3);
	--900-40: rgba(6, 78, 59, 0.4);
	--900-50: rgba(6, 78, 59, 0.5);
	--900-60: rgba(6, 78, 59, 0.6);
	--900-70: rgba(6, 78, 59, 0.7);
	--900-80: rgba(6, 78, 59, 0.8);
	--900-90: rgba(6, 78, 59, 0.9);
}
