[data-theme='forest'] {
    background-color: #16151d;
    --gradient: rgba(55, 180, 65, 0.2);
    --900: rgba(13, 28, 19, 1);
    --900-90: rgba(13, 28, 19, 0.9);
    --900-80: rgba(13, 28, 19, 0.8);
    --900-70: rgba(13, 28, 19, 0.7);
    --900-60: rgba(13, 28, 19, 0.6);
    --900-50: rgba(13, 28, 19, 0.5);
    --900-40: rgba(13, 28, 19, 0.4);
    --900-30: rgba(13, 28, 19, 0.3);
    --900-20: rgba(13, 28, 19, 0.2);
    --900-10: rgba(13, 28, 19, 0.1);
    --900-0: rgba(13, 28, 19, 0);
    --800: rgba(18, 36, 24, 1);
    --800-90: rgba(18, 36, 24, 0.9);
    --800-80: rgba(18, 36, 24, 0.8);
    --800-70: rgba(18, 36, 24, 0.7);
    --800-60: rgba(18, 36, 24, 0.6);
    --800-50: rgba(18, 36, 24, 0.5);
    --800-40: rgba(18, 36, 24, 0.4);
    --800-30: rgba(18, 36, 24, 0.3);
    --800-20: rgba(18, 36, 24, 0.2);
    --800-10: rgba(18, 36, 24, 0.1);
    --800-0: rgba(18, 36, 24, 0);
    --700: rgba(22, 45, 29, 1);
    --700-90: rgba(22, 45, 29, 0.9);
    --700-80: rgba(22, 45, 29, 0.8);
    --700-70: rgba(22, 45, 29, 0.7);
    --700-60: rgba(22, 45, 29, 0.6);
    --700-50: rgba(22, 45, 29, 0.5);
    --700-40: rgba(22, 45, 29, 0.4);
    --700-30: rgba(22, 45, 29, 0.3);
    --700-20: rgba(22, 45, 29, 0.2);
    --700-10: rgba(22, 45, 29, 0.1);
    --700-0: rgba(22, 45, 29, 0);
    --600: rgba(27, 55, 34, 1);
    --600-90: rgba(27, 55, 34, 0.9);
    --600-80: rgba(27, 55, 34, 0.8);
    --600-70: rgba(27, 55, 34, 0.7);
    --600-60: rgba(27, 55, 34, 0.6);
    --600-50: rgba(27, 55, 34, 0.5);
    --600-40: rgba(27, 55, 34, 0.4);
    --600-30: rgba(27, 55, 34, 0.3);
    --600-20: rgba(27, 55, 34, 0.2);
    --600-10: rgba(27, 55, 34, 0.1);
    --600-0: rgba(27, 55, 34, 0);
    --500: rgba(33, 68, 42, 1);
    --500-90: rgba(33, 68, 42, 0.9);
    --500-80: rgba(33, 68, 42, 0.8);
    --500-70: rgba(33, 68, 42, 0.7);
    --500-60: rgba(33, 68, 42, 0.6);
    --500-50: rgba(33, 68, 42, 0.5);
    --500-40: rgba(33, 68, 42, 0.4);
    --500-30: rgba(33, 68, 42, 0.3);
    --500-20: rgba(33, 68, 42, 0.2);
    --500-10: rgba(33, 68, 42, 0.1);
    --500-0: rgba(33, 68, 42, 0);
    --400: rgba(42, 85, 52, 1);
    --400-90: rgba(42, 85, 52, 0.9);
    --400-80: rgba(42, 85, 52, 0.8);
    --400-70: rgba(42, 85, 52, 0.7);
    --400-60: rgba(42, 85, 52, 0.6);
    --400-50: rgba(42, 85, 52, 0.5);
    --400-40: rgba(42, 85, 52, 0.4);
    --400-30: rgba(42, 85, 52, 0.3);
    --400-20: rgba(42, 85, 52, 0.2);
    --400-10: rgba(42, 85, 52, 0.1);
    --400-0: rgba(42, 85, 52, 0);
    --300: rgba(53, 105, 66, 1);
    --300-90: rgba(53, 105, 66, 0.9);
    --300-80: rgba(53, 105, 66, 0.8);
    --300-70: rgba(53, 105, 66, 0.7);
    --300-60: rgba(53, 105, 66, 0.6);
    --300-50: rgba(53, 105, 66, 0.5);
    --300-40: rgba(53, 105, 66, 0.4);
    --300-30: rgba(53, 105, 66, 0.3);
    --300-20: rgba(53, 105, 66, 0.2);
    --300-10: rgba(53, 105, 66, 0.1);
    --300-0: rgba(53, 105, 66, 0);
    --200: rgba(67, 130, 83, 1);
    --200-90: rgba(67, 130, 83, 0.9);
    --200-80: rgba(67, 130, 83, 0.8);
    --200-70: rgba(67, 130, 83, 0.7);
    --200-60: rgba(67, 130, 83, 0.6);
    --200-50: rgba(67, 130, 83, 0.5);
    --200-40: rgba(67, 130, 83, 0.4);
    --200-30: rgba(67, 130, 83, 0.3);
    --200-20: rgba(67, 130, 83, 0.2);
    --200-10: rgba(67, 130, 83, 0.1);
    --200-0: rgba(67, 130, 83, 0);
    --100: rgba(84, 158, 103, 1);
    --100-90: rgba(84, 158, 103, 0.9);
    --100-80: rgba(84, 158, 103, 0.8);
    --100-70: rgba(84, 158, 103, 0.7);
    --100-60: rgba(84, 158, 103, 0.6);
    --100-50: rgba(84, 158, 103, 0.5);
    --100-40: rgba(84, 158, 103, 0.4);
    --100-30: rgba(84, 158, 103, 0.3);
    --100-20: rgba(84, 158, 103, 0.2);
    --100-10: rgba(84, 158, 103, 0.1);
    --100-0: rgba(84, 158, 103, 0);
    --50: rgba(104, 187, 126, 1);
    --50-90: rgba(104, 187, 126, 0.9);
    --50-80: rgba(104, 187, 126, 0.8);
    --50-70: rgba(104, 187, 126, 0.7);
    --50-60: rgba(104, 187, 126, 0.6);
    --50-50: rgba(104, 187, 126, 0.5);
    --50-40: rgba(104, 187, 126, 0.4);
    --50-30: rgba(104, 187, 126, 0.3);
    --50-20: rgba(104, 187, 126, 0.2);
    --50-10: rgba(104, 187, 126, 0.1);
    --50-0: rgba(104, 187, 126, 0);
    --50: rgba(104, 187, 126, 1);
}
