[data-theme='midnight'] {
	background-color: #0a0f1b;
	--gradient: rgba(25, 50, 75, 0.2);
	--100: rgba(215, 220, 235);
	--200: rgba(175, 185, 200);
	--300: rgba(135, 150, 165);
	--400: rgba(95, 115, 130);
	--500: rgba(55, 80, 105);
	--600: rgba(45, 70, 95);
	--700: rgba(35, 60, 85);
	--800: rgba(25, 50, 75);
	--900: rgba(15, 40, 65);
	--50: rgba(235, 240, 255);
	--50-0: rgba(235, 240, 255, 0);
	--50-10: rgba(235, 240, 255, 0.1);
	--50-20: rgba(235, 240, 255, 0.2);
	--50-30: rgba(235, 240, 255, 0.3);
	--50-40: rgba(235, 240, 255, 0.4);
	--50-50: rgba(235, 240, 255, 0.5);
	--50-60: rgba(235, 240, 255, 0.6);
	--50-70: rgba(235, 240, 255, 0.7);
	--50-80: rgba(235, 240, 255, 0.8);
	--50-90: rgba(235, 240, 255, 0.9);
	--50-100: rgba(235, 240, 255, 1);
	--100-0: rgba(215, 220, 235, 0);
	--100-10: rgba(215, 220, 235, 0.1);
	--100-20: rgba(215, 220, 235, 0.2);
	--100-30: rgba(215, 220, 235, 0.3);
	--100-40: rgba(215, 220, 235, 0.4);
	--100-50: rgba(215, 220, 235, 0.5);
	--100-60: rgba(215, 220, 235, 0.6);
	--100-70: rgba(215, 220, 235, 0.7);
	--100-80: rgba(215, 220, 235, 0.8);
	--100-90: rgba(215, 220, 235, 0.9);
	--100-100: rgba(215, 220, 235, 1);
	--200-0: rgba(175, 185, 200, 0);
	--200-10: rgba(175, 185, 200, 0.1);
	--200-20: rgba(175, 185, 200, 0.2);
	--200-30: rgba(175, 185, 200, 0.3);
	--200-40: rgba(175, 185, 200, 0.4);
	--200-50: rgba(175, 185, 200, 0.5);
	--200-60: rgba(175, 185, 200, 0.6);
	--200-70: rgba(175, 185, 200, 0.7);
	--200-80: rgba(175, 185, 200, 0.8);
	--200-90: rgba(175, 185, 200, 0.9);
	--200-100: rgba(175, 185, 200, 1);
	--300-0: rgba(135, 150, 165, 0);
	--300-10: rgba(135, 150, 165, 0.1);
	--300-20: rgba(135, 150, 165, 0.2);
	--300-30: rgba(135, 150, 165, 0.3);
	--300-40: rgba(135, 150, 165, 0.4);
	--300-50: rgba(135, 150, 165, 0.5);
	--300-60: rgba(135, 150, 165, 0.6);
	--300-70: rgba(135, 150, 165, 0.7);
	--300-80: rgba(135, 150, 165, 0.8);
	--300-90: rgba(135, 150, 165, 0.9);
	--300-100: rgba(135, 150, 165, 1);
	--400-0: rgba(95, 115, 130, 0);
	--400-10: rgba(95, 115, 130, 0.1);
	--400-20: rgba(95, 115, 130, 0.2);
	--400-30: rgba(95, 115, 130, 0.3);
	--400-40: rgba(95, 115, 130, 0.4);
	--400-50: rgba(95, 115, 130, 0.5);
	--400-60: rgba(95, 115, 130, 0.6);
	--400-70: rgba(95, 115, 130, 0.7);
	--400-80: rgba(95, 115, 130, 0.8);
	--400-90: rgba(95, 115, 130, 0.9);
	--400-100: rgba(95, 115, 130, 1);
	--500-0: rgba(55, 80, 105, 0);
	--500-10: rgba(55, 80, 105, 0.1);
	--500-20: rgba(55, 80, 105, 0.2);
	--500-30: rgba(55, 80, 105, 0.3);
	--500-40: rgba(55, 80, 105, 0.4);
	--500-50: rgba(55, 80, 105, 0.5);
	--500-60: rgba(55, 80, 105, 0.6);
	--500-70: rgba(55, 80, 105, 0.7);
	--500-80: rgba(55, 80, 105, 0.8);
	--500-90: rgba(55, 80, 105, 0.9);
	--500-100: rgba(55, 80, 105, 1);
	--600-0: rgba(45, 70, 95, 0);
	--600-10: rgba(45, 70, 95, 0.1);
	--600-20: rgba(45, 70, 95, 0.2);
	--600-30: rgba(45, 70, 95, 0.3);
	--600-40: rgba(45, 70, 95, 0.4);
	--600-50: rgba(45, 70, 95, 0.5);
	--600-60: rgba(45, 70, 95, 0.6);
	--600-70: rgba(45, 70, 95, 0.7);
	--600-80: rgba(45, 70, 95, 0.8);
	--600-90: rgba(45, 70, 95, 0.9);
	--600-100: rgba(45, 70, 95, 1);
	--700-0: rgba(35, 60, 85, 0);
	--700-10: rgba(35, 60, 85, 0.1);
	--700-20: rgba(35, 60, 85, 0.2);
	--700-30: rgba(35, 60, 85, 0.3);
	--700-40: rgba(35, 60, 85, 0.4);
	--700-50: rgba(35, 60, 85, 0.5);
	--700-60: rgba(35, 60, 85, 0.6);
	--700-70: rgba(35, 60, 85, 0.7);
	--700-80: rgba(35, 60, 85, 0.8);
	--700-90: rgba(35, 60, 85, 0.9);
	--700-100: rgba(35, 60, 85, 1);
	--800-0: rgba(25, 50, 75, 0);
	--800-10: rgba(25, 50, 75, 0.1);
	--800-20: rgba(25, 50, 75, 0.2);
	--800-30: rgba(25, 50, 75, 0.3);
	--800-40: rgba(25, 50, 75, 0.4);
	--800-50: rgba(25, 50, 75, 0.5);
	--800-60: rgba(25, 50, 75, 0.6);
	--800-70: rgba(25, 50, 75, 0.7);
	--800-80: rgba(25, 50, 75, 0.8);
	--800-90: rgba(25, 50, 75, 0.9);
	--800-100: rgba(25, 50, 75, 1);
	--900-0: rgba(15, 40, 65, 0);
	--900-10: rgba(15, 40, 65, 0.1);
	--900-20: rgba(15, 40, 65, 0.2);
	--900-30: rgba(15, 40, 65, 0.3);
	--900-40: rgba(15, 40, 65, 0.4);
	--900-50: rgba(15, 40, 65, 0.5);
	--900-60: rgba(15, 40, 65, 0.6);
	--900-70: rgba(15, 40, 65, 0.7);
	--900-80: rgba(15, 40, 65, 0.8);
	--900-90: rgba(15, 40, 65, 0.9);
	--900-100: rgba(15, 40, 65, 1);
}
