[data-theme='ocean'] {
	background-color: #16151d;
	--gradient: rgba(30, 58, 138, 0.2);
	--900: rgba(13, 32, 73, 1);
	--800: rgba(17, 42, 96, 1);
	--700: rgba(21, 49, 112, 1);
	--600: rgba(25, 60, 135, 1);
	--500: rgba(29, 78, 169, 1);
	--400: rgba(42, 100, 192, 1);
	--300: rgba(64, 120, 212, 1);
	--200: rgba(100, 144, 228, 1);
	--100: rgba(130, 168, 241, 1);
	--50: rgba(160, 192, 255, 1);
	--50-0: rgba(160, 192, 255, 0);
	--50-10: rgba(160, 192, 255, 0.1);
	--50-20: rgba(160, 192, 255, 0.2);
	--50-30: rgba(160, 192, 255, 0.3);
	--50-40: rgba(160, 192, 255, 0.4);
	--50-50: rgba(160, 192, 255, 0.5);
	--50-60: rgba(160, 192, 255, 0.6);
	--50-70: rgba(160, 192, 255, 0.7);
	--50-80: rgba(160, 192, 255, 0.8);
	--50-90: rgba(160, 192, 255, 0.9);
	--100-0: rgba(130, 168, 241, 0);
	--100-10: rgba(130, 168, 241, 0.1);
	--100-20: rgba(130, 168, 241, 0.2);
	--100-30: rgba(130, 168, 241, 0.3);
	--100-40: rgba(130, 168, 241, 0.4);
	--100-50: rgba(130, 168, 241, 0.5);
	--100-60: rgba(130, 168, 241, 0.6);
	--100-70: rgba(130, 168, 241, 0.7);
	--100-80: rgba(130, 168, 241, 0.8);
	--100-90: rgba(130, 168, 241, 0.9);
	--200-0: rgba(100, 144, 228, 0);
	--200-10: rgba(100, 144, 228, 0.1);
	--200-20: rgba(100, 144, 228, 0.2);
	--200-30: rgba(100, 144, 228, 0.3);
	--200-40: rgba(100, 144, 228, 0.4);
	--200-50: rgba(100, 144, 228, 0.5);
	--200-60: rgba(100, 144, 228, 0.6);
	--200-70: rgba(100, 144, 228, 0.7);
	--200-80: rgba(100, 144, 228, 0.8);
	--200-90: rgba(100, 144, 228, 0.9);
	--300-0: rgba(64, 120, 212, 0);
	--300-10: rgba(64, 120, 212, 0.1);
	--300-20: rgba(64, 120, 212, 0.2);
	--300-30: rgba(64, 120, 212, 0.3);
	--300-40: rgba(64, 120, 212, 0.4);
	--300-50: rgba(64, 120, 212, 0.5);
	--300-60: rgba(64, 120, 212, 0.6);
	--300-70: rgba(64, 120, 212, 0.7);
	--300-80: rgba(64, 120, 212, 0.8);
	--300-90: rgba(64, 120, 212, 0.9);
	--400-0: rgba(42, 100, 192, 0);
	--400-10: rgba(42, 100, 192, 0.1);
	--400-20: rgba(42, 100, 192, 0.2);
	--400-30: rgba(42, 100, 192, 0.3);
	--400-40: rgba(42, 100, 192, 0.4);
	--400-50: rgba(42, 100, 192, 0.5);
	--400-60: rgba(42, 100, 192, 0.6);
	--400-70: rgba(42, 100, 192, 0.7);
	--400-80: rgba(42, 100, 192, 0.8);
	--400-90: rgba(42, 100, 192, 0.9);
	--500-0: rgba(29, 78, 169, 0);
	--500-10: rgba(29, 78, 169, 0.1);
	--500-20: rgba(29, 78, 169, 0.2);
	--500-30: rgba(29, 78, 169, 0.3);
	--500-40: rgba(29, 78, 169, 0.4);
	--500-50: rgba(29, 78, 169, 0.5);
	--500-60: rgba(29, 78, 169, 0.6);
	--500-70: rgba(29, 78, 169, 0.7);
	--500-80: rgba(29, 78, 169, 0.8);
	--500-90: rgba(29, 78, 169, 0.9);
	--600-0: rgba(25, 60, 135, 0);
	--600-10: rgba(25, 60, 135, 0.1);
	--600-20: rgba(25, 60, 135, 0.2);
	--600-30: rgba(25, 60, 135, 0.3);
	--600-40: rgba(25, 60, 135, 0.4);
	--600-50: rgba(25, 60, 135, 0.5);
	--600-60: rgba(25, 60, 135, 0.6);
	--600-70: rgba(25, 60, 135, 0.7);
	--600-80: rgba(25, 60, 135, 0.8);
	--600-90: rgba(25, 60, 135, 0.9);
	--700-0: rgba(21, 49, 112, 0);
	--700-10: rgba(21, 49, 112, 0.1);
	--700-20: rgba(21, 49, 112, 0.2);
	--700-30: rgba(21, 49, 112, 0.3);
	--700-40: rgba(21, 49, 112, 0.4);
	--700-50: rgba(21, 49, 112, 0.5);
	--700-60: rgba(21, 49, 112, 0.6);
	--700-70: rgba(21, 49, 112, 0.7);
	--700-80: rgba(21, 49, 112, 0.8);
	--700-90: rgba(21, 49, 112, 0.9);
	--800-0: rgba(17, 42, 96, 0);
	--800-10: rgba(17, 42, 96, 0.1);
	--800-20: rgba(17, 42, 96, 0.2);
	--800-30: rgba(17, 42, 96, 0.3);
	--800-40: rgba(17, 42, 96, 0.4);
	--800-50: rgba(17, 42, 96, 0.5);
	--800-60: rgba(17, 42, 96, 0.6);
	--800-70: rgba(17, 42, 96, 0.7);
	--800-80: rgba(17, 42, 96, 0.8);
	--800-90: rgba(17, 42, 96, 0.9);
	--900-0: rgba(13, 32, 73, 0);
	--900-10: rgba(13, 32, 73, 0.1);
	--900-20: rgba(13, 32, 73, 0.2);
	--900-30: rgba(13, 32, 73, 0.3);
	--900-40: rgba(13, 32, 73, 0.4);
	--900-50: rgba(13, 32, 73, 0.5);
	--900-60: rgba(13, 32, 73, 0.6);
	--900-70: rgba(13, 32, 73, 0.7);
	--900-80: rgba(13, 32, 73, 0.8);
	--900-90: rgba(13, 32, 73, 0.9);
}
