[data-theme='wine'] {
	background-color: #16151d;
	--gradient: rgba(178, 58, 72, 0.2);
	--900: rgba(91, 31, 37, 1);
	--900-90: rgba(91, 31, 37, 0.9);
	--900-80: rgba(91, 31, 37, 0.8);
	--900-70: rgba(91, 31, 37, 0.7);
	--900-60: rgba(91, 31, 37, 0.6);
	--900-50: rgba(91, 31, 37, 0.5);
	--900-40: rgba(91, 31, 37, 0.4);
	--900-30: rgba(91, 31, 37, 0.3);
	--900-20: rgba(91, 31, 37, 0.2);
	--900-10: rgba(91, 31, 37, 0.1);
	--900-0: rgba(91, 31, 37, 0);
	--800: rgba(114, 38, 47, 1);
	--800-90: rgba(114, 38, 47, 0.9);
	--800-80: rgba(114, 38, 47, 0.8);
	--800-70: rgba(114, 38, 47, 0.7);
	--800-60: rgba(114, 38, 47, 0.6);
	--800-50: rgba(114, 38, 47, 0.5);
	--800-40: rgba(114, 38, 47, 0.4);
	--800-30: rgba(114, 38, 47, 0.3);
	--800-20: rgba(114, 38, 47, 0.2);
	--800-10: rgba(114, 38, 47, 0.1);
	--800-0: rgba(114, 38, 47, 0);
	--700: rgba(138, 46, 57, 1);
	--700-90: rgba(138, 46, 57, 0.9);
	--700-80: rgba(138, 46, 57, 0.8);
	--700-70: rgba(138, 46, 57, 0.7);
	--700-60: rgba(138, 46, 57, 0.6);
	--700-50: rgba(138, 46, 57, 0.5);
	--700-40: rgba(138, 46, 57, 0.4);
	--700-30: rgba(138, 46, 57, 0.3);
	--700-20: rgba(138, 46, 57, 0.2);
	--700-10: rgba(138, 46, 57, 0.1);
	--700-0: rgba(138, 46, 57, 0);
	--600: rgba(161, 54, 67, 1);
	--600-90: rgba(161, 54, 67, 0.9);
	--600-80: rgba(161, 54, 67, 0.8);
	--600-70: rgba(161, 54, 67, 0.7);
	--600-60: rgba(161, 54, 67, 0.6);
	--600-50: rgba(161, 54, 67, 0.5);
	--600-40: rgba(161, 54, 67, 0.4);
	--600-30: rgba(161, 54, 67, 0.3);
	--600-20: rgba(161, 54, 67, 0.2);
	--600-10: rgba(161, 54, 67, 0.1);
	--600-0: rgba(161, 54, 67, 0);
	--500: rgba(185, 62, 78, 1);
	--500-90: rgba(185, 62, 78, 0.9);
	--500-80: rgba(185, 62, 78, 0.8);
	--500-70: rgba(185, 62, 78, 0.7);
	--500-60: rgba(185, 62, 78, 0.6);
	--500-50: rgba(185, 62, 78, 0.5);
	--500-40: rgba(185, 62, 78, 0.4);
	--500-30: rgba(185, 62, 78, 0.3);
	--500-20: rgba(185, 62, 78, 0.2);
	--500-10: rgba(185, 62, 78, 0.1);
	--500-0: rgba(185, 62, 78, 0);
	--400: rgba(204, 85, 93, 1);
	--400-90: rgba(204, 85, 93, 0.9);
	--400-80: rgba(204, 85, 93, 0.8);
	--400-70: rgba(204, 85, 93, 0.7);
	--400-60: rgba(204, 85, 93, 0.6);
	--400-50: rgba(204, 85, 93, 0.5);
	--400-40: rgba(204, 85, 93, 0.4);
	--400-30: rgba(204, 85, 93, 0.3);
	--400-20: rgba(204, 85, 93, 0.2);
	--400-10: rgba(204, 85, 93, 0.1);
	--400-0: rgba(204, 85, 93, 0);
	--300: rgba(223, 109, 111, 1);
	--300-90: rgba(223, 109, 111, 0.9);
	--300-80: rgba(223, 109, 111, 0.8);
	--300-70: rgba(223, 109, 111, 0.7);
	--300-60: rgba(223, 109, 111, 0.6);
	--300-50: rgba(223, 109, 111, 0.5);
	--300-40: rgba(223, 109, 111, 0.4);
	--300-30: rgba(223, 109, 111, 0.3);
	--300-20: rgba(223, 109, 111, 0.2);
	--300-10: rgba(223, 109, 111, 0.1);
	--300-0: rgba(223, 109, 111, 0);
	--200: rgba(237, 134, 128, 1);
	--200-90: rgba(237, 134, 128, 0.9);
	--200-80: rgba(237, 134, 128, 0.8);
	--200-70: rgba(237, 134, 128, 0.7);
	--200-60: rgba(237, 134, 128, 0.6);
	--200-50: rgba(237, 134, 128, 0.5);
	--200-40: rgba(237, 134, 128, 0.4);
	--200-30: rgba(237, 134, 128, 0.3);
	--200-20: rgba(237, 134, 128, 0.2);
	--200-10: rgba(237, 134, 128, 0.1);
	--200-0: rgba(237, 134, 128, 0);
	--100: rgba(246, 158, 147, 1);
	--100-90: rgba(246, 158, 147, 0.9);
	--100-80: rgba(246, 158, 147, 0.8);
	--100-70: rgba(246, 158, 147, 0.7);
	--100-60: rgba(246, 158, 147, 0.6);
	--100-50: rgba(246, 158, 147, 0.5);
	--100-40: rgba(246, 158, 147, 0.4);
	--100-30: rgba(246, 158, 147, 0.3);
	--100-20: rgba(246, 158, 147, 0.2);
	--100-10: rgba(246, 158, 147, 0.1);
	--100-0: rgba(246, 158, 147, 0);
	--50: rgba(255, 183, 167, 1);
	--50-90: rgba(255, 183, 167, 0.9);
	--50-80: rgba(255, 183, 167, 0.8);
	--50-70: rgba(255, 183, 167, 0.7);
	--50-60: rgba(255, 183, 167, 0.6);
	--50-50: rgba(255, 183, 167, 0.5);
	--50-40: rgba(255, 183, 167, 0.4);
	--50-30: rgba(255, 183, 167, 0.3);
	--50-20: rgba(255, 183, 167, 0.2);
	--50-10: rgba(255, 183, 167, 0.1);
	--50-0: rgba(255, 183, 167, 0);
	--50: rgba(255, 183, 167, 1);
}
